/* Base */
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  padding: 20px;
  color: #865931;
  background-color: #fffbf5;
  font: 16px/24px "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}
p {
  padding-bottom: 10px;
}
a {
  text-decoration: none;
}
