@import 'reset';
@import 'base';
@import 'layout';

/* Modules */
.highlight {
  background-color: #444545;
  border-radius: 3px;
}
.highlight-header {
  position: relative;
  padding: 5px 0;
  color: #d3d3d3;
  background-color: #292929;
  font: 13px/19px Menlo, Courier, monospace;
  border-radius: 3px;

  span {
    padding: 10px;
  }
}
.highlight-scroller {
  padding: 10px;
  color: white;
  font: 12px/19px monospace;
}


$ribbon-clr: #f5e090;
$ribbon-height: 20px;
$ribbon-triangledepth: 6px;

.ribbon {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: -1px;
  height: $ribbon-height;
  width: 45px;
  padding-left: 14px;
  font: 700 10px Arial, sans-serif;
  line-height: $ribbon-height+1;
  color: #444545;
  background-color: $ribbon-clr;
}
.ribbon:before {
  content: '';
  display: inline-block;
  height: $ribbon-height;
  width: $ribbon-triangledepth;
  position: absolute;
  left: - $ribbon-triangledepth;
  border-top: solid $ribbon-height/2 $ribbon-clr;
  border-bottom: solid $ribbon-height/2 $ribbon-clr;
  border-left: solid $ribbon-triangledepth transparent;
}